.container {
  text-align:center;
  padding: 40px;
  width: 400px;
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 margin: 0 auto 10px;
}
.form{
	margin: 0 auto;
}
.container h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;

}

.container input[type=submit] {
  width: 200px;
  
  margin-bottom: 10px;
 
  
}
.container input[type=radio]{
	margin-left:10px;
	
}
.container input[type=text], input[type=password],input[type=email] {
  height: 44px;
  
  width: 200px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  
  padding: 0 8px;

 
}


.submitButton {
  text-align:center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
}
.btn{
width:160px;

}




.navbar-default{
background-color:#09455D;

}

.nav.navbar-nav li a,
.nav.navbar-nav li a:hover
{
color: white;

}

.navbar-default .navbar-brand {
    color: white;
}



.dropdown-toggle:active, .open .dropdown-toggle {background:#337AB7 !important; color:#fff !important;}

  .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background: #337AB7;
 }




.navbar-brand{
text-align:center;
    line-height: 80px;
	width:200px;
    height: 80px;
    padding-top: 0;


}
.navbar-nav li a {

border: 1px solid black;
text-align:center;
    line-height: 80px;
	width:200px;
    height: 80px;
    padding-top: 0;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}



.navbar .navbar-collapse {
  text-align: center;
}


