extends layout
block content
  .container
    h1 Prisijungimas
    form(method="POST")
      input(name='email', placeholder='El. paštas', type='email')
      input(name='password', placeholder='Slaptažodis', type='password')
      input.submitButton(name='login', value='prisijungti', type='submit')
