extends layout
block content

  .container
    .col-md-2.col-md-offset-5.col-sm-2.col-sm-offset-5
      form
        .form-group
          input.form-control(type='email', placeholder='El. paštas')
        .form-group
          input.form-control(type='password', placeholder='Slaptažodis')
        button.btn.btn-primary(type='submit') Prisijungti
      hr
      button.btn.btn-default(type='button') Registruotis
